
<h1>食品期限アラーム</h1>
<h3>冷蔵庫の中にある、食料の期限は大丈夫ですか？</h3>
<br>
<hr/>
<%= link_to '新規登録', new_todo_path %>
<%= link_to '食品期限一覧', todos_path %>
<hr/>
<br>
<%= @todos.count %>
<div class="row">
   <div class="col-md-6"><h3>製品戦略演習</h3>
     <p>個人ワークとグループワークを通して、企業の製品開発のプロセスを疑似体験する演習です。既存商品の課題を発見、現実的に解決していくアイデアを発想し、最終的に商品として成立するかどうか検証をおこなうなど、課題解決力を養います。</p></div>
   <div class="col-md-6"><h3>フィールド実験演習</h3>
     <p>11/22ドローン実習で，ドローンを使った空撮を体験しました。上空からの映像を手軽に入手できる環境は，さまざまな分野への応用や新たな発見につながります。</p></div>
 </div>
